<section ng-include="'views/shared/header.html'" class="app-header"></section>

<div class="col-sm-5 col-sm-offset-7 col-lg-4 col-lg-offset-8 bg-info">
  <p class="navbar-text navbar-right" ng-click="getCloneUrl()">
    Show git clone URL<span class="caret"></span>
  </p>
  <p class="navbar-text navbar-right"><a href="#" class="navbar-link">site.com</a><span class="hidden-xs hidden-sm"> | </span></p>
  <p class="navbar-text navbar-right text-primary">App URL</p>
</div>

<section class="monitors">
  <article class=" col-sm-4 col-md-3 col-lg-2">
    <h5 class="text-center">Web1 app</h5>
    <div class="row">
      <div class="col-sm-1 col-md-2 text-center">
        <span class="monitor-ok glyphicon glyphicon-thumbs-up hidden-xs hidden-sm" aria-hidden="true"></span>
      </div>
      <div class="col-sm-11 col-md-10">
        <div class="col-md-3">
          CPU
        </div>
        <div class="col-md-9">
          <div class="progress ">
             <div class="progress-bar progress-bar-success" role="progressbar" style="width: 30%;"></div>
          </div>
        </div>
        <div class="col-md-3">
          RAM
        </div>
        <div class="col-md-9">
          <div class="progress ">
             <div class="progress-bar progress-bar-success" role="progressbar" style="width: 10%;"></div>
          </div>
        </div>
      </div>
    </div>
    <p class="text-center">MANAGE<span class="caret"></span></p>
  </article>

  <article class=" col-sm-4 col-md-3 col-lg-2">
    <h5 class="text-center">DB1 - Lucy</h5>
    <div class="row">
      <div class="col-sm-1 col-md-2 text-center">
        <span class="monitor-ok glyphicon glyphicon-thumbs-up hidden-xs hidden-sm" aria-hidden="true"></span>
      </div>
      <div class="col-sm-11 col-md-10">
        <div class="col-md-3">
          CPU
        </div>
        <div class="col-md-9">
          <div class="progress ">
             <div class="progress-bar progress-bar-success" role="progressbar" style="width: 30%;"></div>
          </div>
        </div>
        <div class="col-md-3">
          RAM
        </div>
        <div class="col-md-9">
          <div class="progress ">
             <div class="progress-bar progress-bar-success" role="progressbar" style="width: 10%;"></div>
          </div>
        </div>
      </div>
    </div>
    <p class="text-center">MANAGE<span class="caret"></span></p>
  </article>

  <article class="col-sm-4 col-md-3 col-lg-2">
    <h5 class="text-center">DB1 - Rachel <span class="text-success">Migrating</span> </h5>
    <div class="row">
      <div class="col-md-4">
        <p>Migrating</p>
      </div>
      <div class="col-md-8">
        <div class="progress ">
           <div class="progress-bar progress-bar-warning active progress-bar-striped" role="progressbar" style="width: 60%;"></div>
        </div>
      </div>
    </div>
  </article>
</section>
